@charset "UTF-8";

/* Handy font size definitions 
font-size: .625em;   16px x .625  = 10px 
font-size: .6875em;  16px x .6875 = 11px 
font-size: .75em;    16px x .75   = 12px 
font-size: .8125em;  16px x .8125 = 13px 
font-size: .875em;   16px x .875  = 14px
font-size: .9375em;  16px x .9375 = 15px
font-size: 1.0625em; 16px x 1.0625= 17px
font-size: 1.125em;  16px x 1.125=  18px
font-size: 1.1875em; 16px x 1.1875= 19px
*/

/************ Styles that define a reusable grouping of elements *************/
.bold          { font-weight: bold; }
.italic        { font-style: italic; }
.underline     { border-bottom: 1px solid; }
.highlight     { background: #ffc; }
.img-left      { float: left; margin: 4px 10px 4px 0; }
.img-right     { float: right; margin: 4px 0 4px 10px; }
.nopadding     { padding: 0 }
.noindent      { margin-left: 0; padding-left: 0 }
.nobullet      { list-style: none; list-style-image: none; }

.messages, .preview { margin: .75em 0; padding: .5em 1em; }
.messages      { background-color: #fff; border: 1px solid #b8d3e5; }
.messages ul   { margin: 0; }
.preview       { background-color: #fcfce8; border: 1px solid #e5e58f; }
.preview .node { background-color: #fcfce8; }

dl {
  margin: .5em 0 1em;
  padding: 0;
}
dl dd {
  margin: 0 0 .5em 1.5em;
}
ol {
  margin: .5em 0 1em;
  padding: 0 0 0 1.5em;
}
ol li {
  margin: .15em 0 .15em .5em;
  padding: 0 0 .2em;
}
ol ul li {
  margin-left: .5em;
  padding: 0 0 .2em 1.5em;
}
.item-list ul {
  margin: .35em 0 0 -.5em;
  padding: 0;
}
.item-list ul ul {
  margin-left: 0;
}
ul li, ul li.leaf, .item-list ul li {
  list-style-image: none;
  list-style-type: none;
}
ul.links li {
  background: none;
  margin: 0 10px 0 0;
  padding: 0;
}

ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  background: none;
  border: 0;
}
ul.secondary {
  border-bottom: 1px solid #b4d7f0;
  clear: both; /*margin: 0 0 1em;
  padding: .5em 0; */text-align: left;
}
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  background: none;
  border: 0;
  margin: 0;
  padding: 0 1em 0 0;
  text-decoration: none;
}
ul.primary li.active a, ul.secondary li.active a {
  font-weight: 700;
}
.menu { 
  margin: 0; 
  padding: 0; 
}
div.status { 
  border-color: #c7f2c8; 
  color: #33a333; 
}

#nav {
 font-size: 1em;
  margin: 0 0 10px;
}

#nav ul.primary-links {
   background: url(../images/top_nav_bg.png) repeat-x;
  font-weight: 700;
  padding: 13px;
  padding-bottom: 13px;
}

#nav ul.primary-links li {
  margin: 0;
  padding: 0;
  background: url(../images/top_nav_divide.png) no-repeat right;
  padding-right: 12px;
}

#nav ul.primary-links li a:link, #nav ul.primary-links li a:visited {
  margin: 0 0 0 10px;
  padding: 5px 0;
  color: #FFF;
  text-decoration: none;
  font-family:"Lucida Grande", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

#nav ul.primary-links li a:hover, #nav ul.primary-links li a:active {
  text-decoration: underline;
}

#nav ul.secondary-links {
  border-top: 1px solid #b4d7f0;
  padding: 2px 5px;
}

#nav ul.secondary-links li {
  margin: 0;
  padding: 0;
}

#nav ul.secondary-links li a:link, #nav ul.secondary-links li a:visited {
  margin: 0 10px 0 0;
  padding: 2px 0;
}

#nav ul.secondary-links li a:hover, #nav ul.secondary-links li a:active {
  text-decoration: underline;
}

/* Top Utility Menu */

#top-menu { float: right; text-align: right; padding-top: 10px;}

#top-menu .menu li a {color: #666; font-size: .9em; }
#top-menu .menu li {background: url(../images/utility_menu_divide.gif) no-repeat left center; padding-left: 10px; padding-right: 10px; margin: 0;}

/*negative margin keeps from pushing node h2 titles down*/
.breadcrumb {
  color: #226d8b;
  font-size: .9em;
  margin: 0 0 -1.25em;
  padding: 5px;
  background: #efefef;
}

.breadcrumb a:link, .breadcrumb a:visited {
  color: #666;
}

.breadcrumb a:hover {
  color: #999;
}


span.submitted {
  color: #898989;
  display: block;
  font-size: .8333em;
  margin: -5px 0 4px;
}

.meta {
  background: #edf5fa;
  border-bottom: 1px solid #b4d7f0;
  margin: 0 0 1px;
  padding: 0 10px;
}

.meta div.links {
  float: left;
}

.meta div.terms {
  float: right;
}

.meta div.links ul.links li {
  float: left;
  padding: 5px 10px 5px 0;
}

.meta div.terms ul.links li {
  float: left;
  padding: 5px 0 5px 10px;
}

.node_read_more {
  font-weight: bold;
}

.item-list ul.pager {
  margin: 1em 0;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0;
}

.item-list ul.pager li a:link, .item-list ul.pager li a:visited, .item-list ul.pager li.pager-current {
  border: 1px solid #ccc;
  color: #069;
  margin: .3em .1em;
  padding: .3em .5em;
}

.item-list ul.pager li a:hover, .item-list ul.pager li a:active {
  background-color: #edf5fa;
  color: #f66;
}

.item-list ul.pager li.pager-current {
  background-color: #d4e7f3;
  color: #069;
}

#comments h2.comments {
  margin: 25px 0 9px 0;
  font-size: 1.9em;
  color: #666;
  letter-spacing: normal;
} 

.comment-bar {
  background: #edf5fa;
  border-bottom: 1px solid #b4d7f0;
  padding: 5px;
  position: relative;
}

.comment span.submitted {
  color: #898989;
  display: inline;
  font-size: .8333em;
  margin: 0;
}

.comment span.new {
  color: red;
  font-size: .8333em;
}

.comment .content {
  padding: 5px;
}

.comment h3 {
  font-size: 1.1667em;
  margin: .5em 5px 0;
  background-image: none;
  text-transform:none;
  font-family: Arial, Verdana, Helvetica;
  letter-spacing: normal;
}

.comment h3 a {background: none;}

.comment ul.links {
  margin: -10px 0 0 5px;
}

.comment ul.links li a {
  text-decoration: underline;
}

/*************** Site Specific Styles ***********************/
.body-content .main-image, .user-profile img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
#attachments, .top-menu, ul.links, .package-featured-section,
.package-center-section, .package-lower-section, .package-main-article,
.package-related-articles {
  clear: both;
}

.body-content .event-date, .user-name {
  font-weight: bold;
}
.body-content .user-profile {
  display: block;
  clear: both;
}

.body-content .image-desc {
  margin: 0px 5px 5px 0px;
  color:#888;
  width:400px
}
.body-content .image-credit {
  font-style: italic
}

.user-job-title {
  margin-bottom: 12px;
}

.views-field-item-title-url {
  margin-bottom: 10px;
}
.featured-view-item {
  background-color: #efefef;
  border: 1px solid #d9d9d9;
  padding: 15px;
  margin-bottom: 5px;
}

.package-related-left, .package-related-right {
  width: 315px;
}
.package-related-left {
  float: left;
}
.package-related-right {
  float: right;
}
.package-main-article img, .package-related-left img, .package-related-right img,
.featured-view-item img, .views-row-even img, .views-row-odd img {
  float: left;
  margin-bottom: 5px;
  margin-right: 10px;
}
.package-center-section, .package-lower-section, .package-related-articles {
  margin-top: 20px;
}

.google-map {
  margin-bottom: 20px;
}

#homepage-center, #homepage-left {
  float: left;
  width: 300px;
}
#homepage-center {
  margin-left: 25px;
}
#homepage-right {
  float: right;
  width: 300px;
}
#block-views-articles-block_2 .views-row-1 {
  background-color: #efefef;
  border: 1px solid #d9d9d9;
  padding: 5px 3px 5px 5px;
}

.featured-view-item .views-field-title, #block-views-articles-block_2 .views-field-title {
  font-size: 1.6em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px 0;
}

.view-display-id-page_1 .views-field-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1px 0 5px 0;
  font-size: 1.4em;
  font-weight: bold;
}

#homepage-center .views-field-title {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.views-field-item-title-url {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin-bottom: 5px;
}

#homepage-left .views-row-odd .views-field-title, #homepage-left .views-row-even .views-field-title {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 5px;
}

.field-content {
  line-height: normal;
}

#block-views-articles-block_2 .views-field-title a {
  color: #000;
}

.featured-view-item .views-field-teaser, #block-views-articles-block_2 .views-field-teaser {
  font-weight: 15px;
}

.views-field-created, .views-field-field-event-date-value {
  font-size: .8em;
  font-weight: bold;
  letter-spacing: .05em;
  padding: 0 0 3px 0;
  color: #666;
}


.views-separator {
  clear: both;
  border-top: solid 1px #d9d9d9;
  margin: 10px 0;
}

.related-terms {
  padding: 12px 0px 12px 0px;
  clear: both;
  width: 600px;
}
.related-term {
  margin-left: 12px;
  display: inline;
}
.date-filter .filter-submit {
  float: right;
}
.date-filter {
  width: 200px;
}


#footer-menu-primary {
  float: left;
  font-weight: bold;
  margin-left: -17px;
  margin-bottom: 15px;
}
#footer-rss-icon {
  float: left;
}
#footer-menu-secondary {
  float: right;
  font-size: 10px;
  margin-right: 20px;
}

ul.menu, ul.menu li {
  list-style-type: none;
  list-style-image: none;
  display: inline;
}

ul.menu, ul.menu li {
  list-style-type: none;
  list-style-image: none;
  display: inline;
}

#block-menu-menu-openpublish-admin ul.menu, #block-user-1 ul.menu,
#block-menu-menu-openpublish-admin ul.menu li, #block-user-1 ul.menu li {
  display: block;
  border: none;
  margin-left: 0px;
  padding-left: 0px;
}

#block-menu-menu-openpublish-admin ul.menu li, #block-user-1 ul.menu li {
  background: transparent url(../images/arrow_orange.gif) no-repeat 1px .35em;
  padding-left: 10px;
}

#block-morelikethis-googlevideo h3 {
  margin-top: 25px;
}

#block-views-feeds-block_1 .views-field-title {
  float: left;
  margin-left: 5px;
  font-weight: normal;
}
#block-views-feeds-block_1 .views-field-timestamp {
  float: left;
}
.views-field-item-title-url, .package-related-article-title {
  clear: both;
  font-weight: bold;
}

.deck {
  color: #333;
  font-size: 16px;
  clear: both;
  margin-bottom: 10px;
}


.topichubs-layout-wrapper .panel-pane {
  padding: 5px;
}

.views-field-field-teaser-value p {
  margin-bottom: 0;
}

#tabs-articles {
  background: #efefef;
}
#tabs-articles ul {
  background: #FFF;
  margin: 10px;
  padding: 0;
  border: 1px solid #d9d9d9;
}
#tabs-articles ul a {
  color: #000;
}
#tabs-articles .item-list li {
  background: url(../images/arrow_teal.gif) no-repeat;
  border-bottom: 1px solid #efefef;
  margin-bottom: 5px;
  padding: 7px 0 5px 15px;
}

.ui-tabs-nav ul {
  padding: 10px 0;
}
.ui-tabs-nav li {
  background-image: none;
  padding: 5px 0;
}

.ui-tabs-panel h3 {
  background: #226d8b;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: .8em;
  padding: 3px 8px;
  color: #FFF;
}

#logo_area {
  background: url(../images/banner_bg.png) no-repeat center;
  height: 90px;
  border-top: 6px solid #226d8b;
}
#search_box_top {
  padding-top: 15px;
}

#block-views-events-block_1 {
  margin-top: 30px;
}

.section-date-author {
  font-size: .9em;
  color: #666;
  margin-bottom: 10px;
}

#search_box_top .form-submit {
  padding-top: 0px;
}

#homepage-right .item-list li {
  margin: 5px;
}

#sidebar-right .item-list li,
#homepage-right #block-openpublish_popular_terms-0 li,
#homepage-right #block-openpublish_popular_terms-1 li {
  padding-left: 12px;
  background: url(../images/arrow_gray.gif) no-repeat;
  margin-top:
}

.topichubs-layout-wrapper .item-list li {
  padding-left: 12px;
  background: url(../images/arrow_gray.gif) no-repeat;
  margin: 7px 12px;
}

.topichubs-layout-wrapper .author img { 
  margin-right: 10px; 
  margin-bottom: 5px; 
}

.mlt-flickr {
  text-align: center;
}

#top-search-image {
  padding-bottom: -3px;
}

