@charset "UTF-8";

/* Handy font size definitions 
font-size: .625em;   16px x .625  = 10px 
font-size: .6875em;  16px x .6875 = 11px 
font-size: .75em;    16px x .75   = 12px 
font-size: .8125em;  16px x .8125 = 13px 
font-size: .875em;   16px x .875  = 14px
font-size: .9375em;  16px x .9375 = 15px
font-size: 1.0625em; 16px x 1.0625= 17px
*/

/*************** Styles for WYSIWYG editor (e.g. FCKEditor). ****************/

