@charset "UTF-8";

/* Handy font size definitions 
font-size: .625em;   16px x .625   = 10px 
font-size: .6875em;  16px x .6875  = 11px 
font-size: .75em;    16px x .75    = 12px 
font-size: .8125em;  16px x .8125  = 13px 
font-size: .875em;   16px x .875   = 14px
font-size: .9375em;  16px x .9375  = 15px
font-size: 1.0625em; 16px x 1.0625 = 17px
font-size: 1.5em;    16px x 1.5    = 24px
*/

/******** DEFAULT HTML ELEMENT STYLING **********/
body {
  background: #ffffff;
  color: #333;
  font: 75% Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#outer-wrapper {
  background: #d9d9d9;
}

a:link, a:visited {
  color: #1d6581;
  text-decoration: none;
}

a:focus {
  outline: 1px dotted;
}

a:hover, a:active, li a.active {
  outline: none;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: .5em 0;
}

h2 {
  margin: .75em 0 .5em;
  font-family: Georgia, "Times New Roman", Times, serif; 
  font-size: 3.3em;
  letter-spacing: -0.03em;
  color: #000;
  font-weight: normal;
  line-height: 1em;
}

h3, h2.title, .topichubs-layout-wrapper h2 {
  font-size: 1em;
  font-family: Georgia, "Times New Roman", Times, serif; 
  text-transform:uppercase;
  letter-spacing: .05em;
  margin: .5em 0;
  color: #666;
  padding-bottom: 8px;
  background: url(../images/section_title_bg.gif);
}

h3 a { 
  background: url(../images/arrow_teal.gif) no-repeat right; 
  padding-right: 12px;
}
h3 a:link, h3 a:active, h3 a:visited { 
  color: #666;
}
h3 a:hover { 
  color: #226d8b; 
  text-decoration: none; 
}

h4 {
  font-size: 1.1667em;
  margin: .5em 0;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0 0 1em 0;
}

blockquote {
  margin: 1.25em;
  padding: 1.25em 1.25em 0 1.25em;
}

em {
  padding: 0 3px 0 0;
}

hr {
  background: #7f7f7f;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

img, a img {
  border: none;
  outline: none;
}

