@charset "UTF-8";

/* Handy font size definitions 
font-size: .625em;   16px x .625   = 10px 
font-size: .6875em;  16px x .6875  = 11px 
font-size: .75em;    16px x .75    = 12px 
font-size: .8125em;  16px x .8125  = 13px 
font-size: .875em;   16px x .875   = 14px
font-size: .9375em;  16px x .9375  = 15px
font-size: 1.0625em; 16px x 1.0625 = 17px
font-size: 1.5em;    16px x 1.5    = 24px
*/

/************ Styles that define the layout of the page. *************/
span.clear     { clear: both; display: block; font-size: 0; height: 1px; line-height: 0; margin-bottom: -1px; }
.clear         { clear: both; }
.clear-block   { display: block; }
.float-left    { float: left; }
.float-right   { float: right; }

.text-left     { text-align: left; }
.text-right    { text-align: right; }
.text-center   { text-align: center; }
.text-justify  { text-align: justify; }

.wrap          { width: 960px; margin: 0 auto; }

#wrapper {
  margin: 0 auto;
  width: 960px;
  background: #FFF;
  padding: 10px 20px;
}

#container {
  margin: 0 0 10px;
}

/* 1 column */
#center {
  margin: 0 0 10px;
  position: relative;
}

/* 3 columns */
body.sidebars #center {
  border-left: 1px solid #b4d7f0;
  border-right: 1px solid #b4d7f0;
  float: left;
  padding: 0 10px;
  width: 600px;
}

/* 2 columns - sidebar-left */
body.sidebar-left #center {
  border-left: 1px solid #b4d7f0;
  float: right;
  padding-left: 10px;
  width: 780px;
}

/* 2 columns - sidebar-right */
body.sidebar-right #center {
  border-right: 1px solid #b4d7f0;
  float: left;
  padding-right: 10px;
  width: 640px;
}

.sidebar {
  width: 160px;
}

.sidebar h3 {background-image: none; font-family:"Lucida Grande", Arial, sans-serif;}

#sidebar-left {
  float: left;
  margin-right: 9px;
}

#sidebar-right {
  float: right;
  margin-left: 9px;
  width: 300px;
}

.indented {
  border-left: 1px solid #ddd;
  margin-left: 14px;
  padding-left: 5px;
}

.block {
  margin: 0 0 10px;
}

.comment {
  margin: 20px 0 0;
  padding: 0;
}

#user-login-form .item-list ul li {
  background: none;
  padding: 0;
}

#search-block-form .form-text {
  width: 8em;
}

#search-block-form input.form-submit {
  font-size: .9em;
  width: 5em;
  padding: 0;
}

#header {
  margin: 0;
  padding: 0;
  position: relative;
  clear: both;
}

#logo {
  float: left;
  padding: 3px 0 0 11px;
}

#header #name {
  display:block;
}

#header #slogan {
  display: block;
  font-size: .75em;
}

#search-theme-form {
  float: right; 
  margin: 10px 0 0 0;
}

#search-theme-form .form-button, #search-theme-form .form-submit {
  margin: 0;
}

#footer {
  border-top: 1px solid #efefef;
  margin: 40px 0 10px;
  padding: 20px 10px;
  position: relative;
  clear: both; 
  font-weight: normal;
}

#footer a.feed-icon {
  position: absolute;
  right: 0;
  top: 5px;
}

#footer #block-system-0 {
  position: absolute;
  right: 25px;
  top: 6px;
}

#news-package-left {
 float:left;
 width:225px;
 margin-right: 25px; 
}

#news-package-right {
 float: right;
 width: 225px;
 margin-left: 20px; 
}

#news-package-center {
  float: left;
  width: 450px; 
}

#footer-feed-icon {
 float: left;
 margin-left: 45px;
}

#footer-menu-primary { 
  float: left; 
  font-weight: bold; 
  margin-left: -17px; 
  margin-bottom: 15px;
}
#footer-rss-icon {
  float: left; 
}
#footer-menu-secondary { 
  float: right; 
  font-size: 10px; 
  margin-right: 20px; 
}
#news-package-left {
 float:left;
 width:225px;
 margin-right: 25px; 
}

#news-package-right {
 float: right;
 width: 225px;
 margin-left: 20px; 
}

#news-package-center {
  float: left;
  width: 450px; 
}

#footer-feed-icon {
 float: left;
 margin-left: 45px;
}

#credits {
	padding: 9px 0 0 790px;
}
#credits a {
  background:url(../images/powered-by.gif) no-repeat; 
  display: block; 
  width: 161px; 
  height: 41px;
  text-indent: -9000px;
  margin: 0 0 0 -13px;
}
