@charset "UTF-8";

/* Handy font size definitions 

font-size: .625em;   16px x .625  = 10px 
font-size: .6875em;  16px x .6875 = 11px 
font-size: .75em;    16px x .75   = 12px 
font-size: .8125em;  16px x .8125 = 13px 
font-size: .875em;   16px x .875  = 14px
font-size: .9375em;  16px x .9375 = 15px
font-size: 1.0625em; 16px x 1.0625= 17px
*/

/*************** Companion file of layout.css to define typeface styles. ****************/
ul.links li {
  background: none;
  margin: 0 10px 0 0;
  padding: 0;
}

#nav {
 font-size: 1em;
  margin: 0 0 10px;
}

#nav ul.primary-links {
   background: url(../images/top_nav_bg.png) repeat-x;
  font-weight: 700;
  padding: 13px;
  padding-bottom: 13px;
}

#nav ul.primary-links li {
  margin: 0;
  padding: 0;
  background: url(../images/top_nav_divide.png) no-repeat right;
  padding-right: 12px;
}

#nav ul.primary-links li a:link, #nav ul.primary-links li a:visited {
  margin: 0 0 0 10px;
  padding: 5px 0;
  color: #FFF;
  text-decoration: none;
  font-family:"Lucida Grande", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

#nav ul.primary-links li a:hover, #nav ul.primary-links li a:active {
  text-decoration: underline;
}

#nav ul.secondary-links {
  border-top: 1px solid #b4d7f0;
  padding: 2px 5px;
}

#nav ul.secondary-links li {
  margin: 0;
  padding: 0;
}

#nav ul.secondary-links li a:link, #nav ul.secondary-links li a:visited {
  margin: 0 10px 0 0;
  padding: 2px 0;
}

#nav ul.secondary-links li a:hover, #nav ul.secondary-links li a:active {
  text-decoration: underline;
}

/* Top Utility Menu */

#top-menu { float: right; text-align: right; padding-top: 10px;}

#top-menu .menu li a {color: #666; font-size: .9em; }
#top-menu .menu li {background: url(../images/utility_menu_divide.gif) no-repeat left center; padding-left: 10px; padding-right: 10px; margin: 0;}

/*negative margin keeps from pushing node h2 titles down*/
.breadcrumb {
  color: #226d8b;
  font-size: .9em;
  margin: 0 0 -1.25em;
  padding: 5px;
  background: #efefef;
}

.breadcrumb a:link, .breadcrumb a:visited {
  color: #666;
}

.breadcrumb a:hover {
  color: #999;
}
